body {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background: no-repeat url(./assets/hogwards-background.png);
  background-size: cover;
}
